<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="" class="navbar-item">
      <h1>STEVEN HUANG</h1>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a routerLinkActive="active" routerLink="/gallery" class="navbar-item">
        Gallery
      </a>
      <a routerLinkActive="active" routerLink="/about" class="navbar-item">
        About
      </a>

      <a routerLinkActive="active" routerLink="/contact" class="navbar-item">
        Contact
      </a>

      <!-- <div class="navbar-item">
        <a class="button is-light">Admin</a>
      </div> -->
    </div>
  </div>
</nav>
