h3 {
    font-size: 3em !important;
}
p{
    font-size: 1.5em !important;
    font-weight: bold !important;
}

div{
    position: relative;
    height: 225px;
    
}
h1{
    font-size: 5.5em;
}
h1 class {
    font-size: 4.8em;
}
.br {margin-bottom: 100em}