/* COLORS */
$black: #000;
$nearblack: #333;
$white: #fff;
$color1: rgb(110, 41, 41);
$color2: rgb(189, 247, 255);
$colorbg1: rgb(255, 255, 255);

body {
  min-height: 100vh;
  color: $black;
  background: $colorbg1;
  font-family: 'Lato', sans-serif;
}

.container {
  padding: 0 12em !important;
}

nav.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  padding-left: 4em;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  background-color: rgba(212, 212, 212, 0.6);
  backdrop-filter: blur(5px);

  .navbar-item {
    padding: 0 .7em;
    color: $black;
    font-size: .7em;
    text-transform: uppercase;

    a {
      color: $nearblack;

      &.active, &:hover {
        color: $black;
        text-decoration: underline solid $black;
        background-color: transparent !important;
      }
    }

    h1 {
      font-size: 2.3em;
      letter-spacing: .02em;
      font-family: 'Ibarra Real Nova', serif;
    }

    &.navbar-divider {
      width: 1px;
      padding: 0;
      margin: 0 1em;
      height: 100%;
      background: rgba(0,0,0,0.1);
    }
  }
}

.bgImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: cover;
}

.gallery.columns {
  .column {
    padding: 0;
  }
}


/* Highlighting colors */
::selection {
  background: rgba(0,0,0,0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,0,0,0.5); /* Gecko Browsers */
}
