<div class="category-info">
  <p>Here goes information about {{currCategory | uppercase}}, as well as pricing information</p>
  <a routerLink="/contact" class=".btn">Book now</a>
</div>

<div *ngIf="getPhotos()?.length" class="gallery columns is-multiline">

  <!-- img item -->
  <div class="column is-one-third is-vcentered" *ngFor="let photo of getPhotos(); let i=index" (click)="active=i; expanded=true;">
    <div class="img-container">
      <img src="{{photo.url}}" alt="{{photo.name}}">
    </div>
  </div>
</div>

<div *ngIf="expanded" class="expanded-img" (keydown.escape)="closeExpandedView()">
  <div (click)="closeExpandedView()" class="expanded-bg"></div>
  <div class="img-stuff">
    <img src="{{getPhotos()[active].url}}">  <p>{{getPhotos()[active].description}}</p>
    <a *ngIf="getPhotos()[active].user?.portfolio_url" target="_blank" href="{{getPhotos()[active].user.portfolio_url}}" class="bold_link">See
      More from
      {{getPhotos()[active].user?.username}}</a>
  </div>
  <div class="toolbar">
    <button (click)="prev()">previous</button>
    <button (click)="next()">next</button>
    <button (click)="closeExpandedView()" class="closeViewBtn">X</button>
  </div>
</div>
